# Dependências e Builds Web
node_modules/
dist/
output-apk/

# Logs e Temporários
*.log
.tempmediaStorage/
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Capacitor e Android Builds
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/captures/
android/.idea/
android/*.iml
android/app/*.iml
android/capacitor-cordova-android-plugins/build/

# Keystores (Segurança)
*.jks
*.keystore
